.city-submit {
  font-family: "Barlow Condensed";
  width: 60%;
  height: 25vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: black solid 1px;
}

.message-for-user p {

}

.message-for-user-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.message-for-user-button {
  width: 30%;
  height: 40%;
}

.comment-input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1em;
}

.comment-div {
  padding: 2%;
  width: 40%;
}

.comment-input {
  color: black;
  background-color: white;
  font-family: "Barlow Condensed";
  padding: 2%;
  width: 100%;
  border: 0.8px solid grey;
  font-size: 1em;
}

::placeholder {
  font-family: "Barlow Condensed";
  color: black;
}

.submit-button-div {
  padding: 1%;
  width: 30%;
}

.submit-to-favs {
  font-family: "Barlow Condensed";
  font-size: 1.1em;
  color: white;
  background-color: black;
  cursor: pointer;
}
